{% extends 'flatpages/default.html' %}
{% load custom_filter %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h3>{% current_time '%b %d %Y' %}</h3>
  {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
       <input type="button" onclick="window.location.href = 'http://127.0.0.1:8000/news/sign/subscribe/';"
              value="Подписаться/Отписаться"/>
   </form>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Номер поста</td>
               <td>Дата создания</td>
               <td>Оглавление</td>
               <td>Текст</td>
               <td>Тип</td>
               <td>Категория</td>
           </tr>
           {% for news in news %}
           <tr>
               <td>{{ news.pk }}<a href="{{ news.pk  }} ">></a></td>
               <td>{{ news.dateCreation|date:'d M Y' }}</td>
               <td><b>{{ news.Title|truncatewords:2 }}</b></td>
               <td>{{ news.Text|truncatewords:2 }}</td>
               <td>{{ news.postType }}</td>
               <td>{{ news.Category }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}

